.osMap{
    width: 100%;
    height: 80vh;
}



.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    h3 {
        font-size: larger;
        font-weight: bold;
        margin-bottom: 4px;
    }
    
    .positions{
        color: #017D73;
    }
    .airports {
        color: #DD0A73;
    }
}